 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-Light.woff') format('woff');
     font-weight: lighter;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-LightItalic.woff') format('woff');
     font-weight: lighter;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-Regular.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-Italic.woff') format('woff');
     font-weight: bold;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'roc grotesk';
     src: url('roc_grotesk_regular.woff') format('woff');
     font-weight: lighter;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'roc grotesk wide';
     src: url('roc_grotesk_wide_bold.woff') format('woff');
 }
 
 .display {
     font-family: "ivy mode";
     font-weight: lighter;
     line-height: 1.25em;
     white-space: nowrap;
 }
 
 .bold-extended {
     font-family: "roc grotesk wide"
 }
 
 h1 {
     font-size: 6rem;
 }
 
 h2 {
     font-size: 5.5rem;
 }
 
 h3 {
     font-size: 5rem;
 }
 
 h4 {
     font-size: 4.5rem;
 }
 
 h5 {
     font-size: 4rem;
 }
 
 h6 {
     font-size: 3.5rem;
 }
 
 p {
     font-size: 1.5rem;
 }
 
 @media(max-width: 1365px) {
     html {
         font-size: 12px !important;
     }
 }
 
 @media(min-width: 3840px) {
     html {
         font-size: 32px !important;
     }
 }