 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-Light.woff') format('woff');
     font-weight: lighter;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-LightItalic.woff') format('woff');
     font-weight: lighter;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-Regular.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'ivy mode';
     src: url('IvyMode-Italic.woff') format('woff');
     font-weight: bold;
     font-style: italic;
 }
 
 @font-face {
     font-family: 'roc grotesk';
     src: url('roc_grotesk_regular.woff') format('woff');
     font-weight: lighter;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'roc grotesk wide';
     src: url('roc_grotesk_wide_bold.woff') format('woff');
 }
 
 .display {
     font-family: "ivy mode";
     font-weight: lighter;
     line-height: 1.25em;
     white-space: nowrap;
 }
 
 button.display {
     font-size: 1.5rem;
     background: var(--bg);
     border: 1px solid black;
     position: relative;
     z-index: 10;
     font-weight: bold;
     box-sizing: border-box;
 }
 
 button.display::before {
     content: '';
     height: calc(100% + 2px);
     width: calc(100% + 2px);
     top: 0;
     left: 0;
     position: absolute;
     transform: translateX(-10px) translateY(10px);
     z-index: -1;
     border: 1px solid black;
 }
 
 h1 {
     font-size: 6rem;
 }
 
 h2 {
     font-size: 5.5rem;
 }
 
 h3 {
     font-size: 5rem;
 }
 
 h4 {
     font-size: 4.5rem;
 }
 
 h5 {
     font-size: 4rem;
 }
 
 h6 {
     font-size: 3.5rem;
 }
 
 p {
     font-size: 1.5rem;
 }