*:not(input, textarea) {
    user-select: none;
    overscroll-behavior: none;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media(min-width: 1024px) {
    * {
        cursor: none !important;
    }
}

:root {
    --bg: #aa0602;
}

ul {
    list-style-type: none;
}

button:focus {
    outline: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.hidden {
    visibility: hidden;
}