*:not(input, textarea) {
    /* user-select: none; */
    overscroll-behavior: none;
}

:root {
    --bg: #EAEDDD;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--bg);
}

@media(min-width: 1024px) {
    * {
        cursor: none !important;
    }
}

ul {
    list-style-type: none;
}

button:focus {
    outline: none;
}


/* ::-webkit-scrollbar {
    width: 0px;
} */

.pointer-events-none {
    pointer-events: none !important;
}